
  body {
    background-color: #F1E0AC
  }

  hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 10%;
  }

  h1 {
    color: #495371;
  }

  h3 {
    color: #74959A;
  }
